  <ul id="event-collection">
    <script id="event-template" type="text/x-handlebars-template">
    <li class="event">
    <h2>{{coat_color}} {{breed}} {{animal_type}}</h2>
    <p>{{long_date}}</p>
    </li><hr>
    </script>
  </ul>

