  <ul id="event-collection">
    <script id="event-template" type="text/x-handlebars-template">
    <li class="event">
    <h2>{{pet_name}}</h2>
    <p>{{coat_color}} {{breed}} {{animal_type}}</p>
    <p>{{long_date}}</p>
    </li>
    <hr>
    </script>
  </ul>
