<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Homeward Found Pet Finder Notification</h1>
    <p>
      This message is to notify you that someone has reported a sighting that appears to be a close match to your missing pet.<br>
    </p>
    <p>
      Please log into the site to view the details, just follow this link: <%= @url %>.
    </p>
    <p>We hope to bring your pet home soon!</p>
  </body>
</html>
