<!--
fix indentation
look into handlebars-assets gems which compiles all of your templates for you.  in this case you'd wind up, in JS-land with

Handlebars.eventContent({pet_name: '...', coat_color: '...'}); => html stuff

-->

<div id="event-container">
  <ul id="event-collection">
    <script id="event-template" type="text/x-handlebars-template">
    <li class="event">
    <div class="event-content">
    <h3>{{pet_name}}</h3>
    <p>{{coat_color}} {{breed}} {{animal_type}}</p>
    <p>{{event_date}}</p>
    </div>
    </li><hr>
    </script>
</ul>
</div>
