<div id="event-container">
  <h3>Recent Lostings</h3>
  <ul id="event-collection">
    <script id="event-template" type="text/x-handlebars-template">
    <li class="event">
    <div class="event-content">
    <p>
    <span class="pet-name">{{pet_name}}</span><br>
    <span class="pet-color">{{coat_color}}</span>
    <span class="pet-size">{{breed}}</span>
    <span class="pet-type">{{animal_type}}</span><br>
    <span class="event-date">{{event_date}}</span>
    </p>
    </div>
    </li><hr>
    </script>
</ul>
</div>