<!DOCTYPE html>
<html>
<head>
  <title>HomewardFound</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="section group">
      <img src="" alt="logo" class="col span_2_of_12">
      <h1 class="col span_10_of_12">Homeward Found</h1>
    </div>
    <div class="section group">
      <nav>
        <ul>
          <li class="col span_2_of_12"></li>
          <li class="col span_2_of_12"><a href="#">Lost</a></li>
          <li class="col span_2_of_12"><a href="#">Sighting</a></li>
          <li class="col span_2_of_12"><a href="#">Login</a></li>
          <li class="col span_4_of_12"></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="section group">
    <div class="col_no_mar span_2_of_12">
    <aside>
      <ul>
        <li>YO</li>
      </ul>
    </aside>
    </div>
    <div class="col_no_mar span_10_of_12">

      <%= yield %>
    </div>

  </div>

</body>
</html>
