<!DOCTYPE html>
<html>
<head>
  <title>HomewardFound</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>




  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-9wB74qE2kN-soCB_PFNsPajbg-BK-OE">
    </script>



</head>
<body>
  <header>
    <!-- <div class="section group">
      <img src="" alt="logo" class="col span_2_of_12">
      <h1 class="col span_10_of_12">Homeward Found</h1>
    </div> -->
    <div class="section group">
      <nav>
        <ul>
          <li class="span_3_of_12"><a href="/"><img src="" alt="logo"><span>Homeward Found</span></a></li>
          <li class="span_2_of_12"><a href="/lostings/new">Lost</a></li>
          <li class="span_2_of_12"><a href="/sightings/new">Sighting</a></li>
          <li class="span_2_of_12"><a href="/login">Login</a></li>
          <li class="span_3_of_12"><a href="#">SEACH BAR SPACE</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="section group">
    <div class="col_no_mar span_2_of_12">
    <aside>
      <ul>
        <li>YO</li>
      </ul>
    </aside>
    </div>
    <div class="col_no_mar span_10_of_12 body_container">

      <%= yield %>
    </div>

  </div>

</body>
</html>
