<!DOCTYPE html>
<html>
<head>
  <title>HomewardFound</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>




  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


  <script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-9wB74qE2kN-soCB_PFNsPajbg-BK-OE">
  </script>

</head>



<body>

      <%= yield %>

</body>
</html>
