<!DOCTYPE html>
<html>
<head>
  <title>HomewardFound</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>




  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


  <script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-9wB74qE2kN-soCB_PFNsPajbg-BK-OE">
  </script>



</head>
<body>
  <header>
    <div class="section group">
      <nav>
        <ul>
          <li class="span_3_of_12"><a href="/"><span>Homeward Found</span></a></li>
          <li class="span_2_of_12"><a href="/lostings/new">Lost</a></li>
          <li class="span_2_of_12"><a href="/sightings/new">Sighting</a></li>
          <li class="span_2_of_12"><a href="/login">Login</a></li>
          <li class="span_3_of_12"><a href="#">SEACH BAR SPACE</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="section group">
    <div class="col_no_mar span_3_of_12">
      <aside>
        <div id="aside_nav">
          <ul>
            <li><a href="#">Lost</a></li>
            <li><a href="#">Sighting</a></li>
            <li><a href="#">All</a></li>
          </ul>
        </div>

        <div id="event-container">
          <h3>Recent Lostings</h3>
          <ul id="#event-collection">
            <script id="event-template" type="text/x-handlebars-template">
            <li class="event">
            <div class="event-content">
            <p>
            <span class="pet-name">{{pet_name}}</span><br>
            <span class="pet-color">{{coat_color}}</span>
            <span class="pet-size">{{breed}}</span>
            <span class="pet-type">{{animal_type}}</span><br>
            <span class="event-date">{{event_date}}</span>
            </p>
            </div>
            </li><hr>
            </script>
          </ul>
        </div>
      </aside>
    </div>

    <div class="col_no_mar span_9_of_12">
      <%= yield %>
    </div>
  </div>

  <div class="section group">
    <footer class="col_no_mar span_12_of_12"><p>copyright homewardfound</p></footer>
  </div>
</body>
</html>
