body{
  font-family: helvetica, sans-serif;
  overflow: hidden;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


/* ====HEADER ==================*/

header{
  position: relative;
}

header h1{
  font-size: 70px;
  text-shadow: 2px 2px 1px #bad3ed;
  font-weight: bold;
}

header #logo{
  height: 45px;
  width: auto;
  float: left;
  margin-top: -16px;
  padding-right: 10px;
}

/* ==== MAIN NAV ==================*/
nav,
nav ul,
nav ul li,
nav ul li a{
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

nav:after,
nav > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

header nav{
  width: auto;
  font-family: 'Open Sans', Helvetica, sans-serif;
  background: #39b1cc;
  background: -moz-linear-gradient(top, #51bbd2 0%, #2d97af 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #51bbd2), color-stop(100%, #2d97af));
  background: -webkit-linear-gradient(top, #51bbd2 0%, #2d97af 100%);
  background: -o-linear-gradient(top, #51bbd2 0%, #2d97af 100%);
  background: -ms-linear-gradient(top, #51bbd2 0%, #2d97af 100%);
  background: linear-gradient(to bottom, #51bbd2 0%, #2d97af 100%);
}

nav > ul{
  /*background: url('images/bg.png');*/
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.05);
}

nav > ul > li{
  float: left;
  display: inline-block;
}

nav > ul > li > a{
  padding: 18px 25px 21px 25px;
  border-right: 1px solid rgba(80, 80, 80, 0.12);
  text-decoration: none;
  font-size: 13px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

nav ul li a:hover{
  background: #32a9c3;
  background: rgba(0,0,0.1);
}

/* ==== ASIDE NAV ==================*/

#aside_nav{
  overflow: hidden;
  border-right: 1px solid blue;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


#aside_nav,
#aside_nav ul,
#aside_nav ul li,
#aside_nav ul li a{
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#aside_nav > ul > li{
  float: left;
  display: inline-block;
}

#aside_nav ul li{
width: 33.3%;
}
#aside_nav ul li a{
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  font-weight: 700;
  color: #2d97af;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #d3d3d3;
  font-size: 10px;
  padding: 10px 5px;
}

#aside_nav:after,
#aside_nav > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

a:hover{
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#aside_nav ul li a:hover{
  background-color: DarkGray;
}

/* ==== ASIDE CONTAINER ==================*/

.aside_container{
  position: relative;
  padding-bottom: 65.25%;
  overflow: hidden;
  height: 0;
}

aside #event-container{
  position: absolute;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}

label{
  text-align: right;
  float: left;
  margin: 0 20px 0 0;
  width: 150px;
  font-weight: 400;
}

.container{
  margin: 20px;
  width: 50%;
  border: 1px solid gray;
}

.container form, h3{
  margin: 20px;
}

.body_container{
  position: relative;
  padding-bottom: 65.25%;
  padding-top: 30px;
  overflow: hidden;
  height: 0;
}

#my_map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.event {
  list-style: none;
  padding-left: 5px;
}

#event-container h3, p{
  margin: 0;
}

#event-content{
  margin: 0;
}


/*--------- start login form stuff --------------------------- */

#logindiv{
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0, 0.85);
  display: none;
  z-index: 999;
}

#loginForm, #signupForm{
  display: none;
  position: relative;
  top: 30%;
}

#logindiv .form {
  border-radius:2px;
  padding:20px 30px;
  box-shadow:0 0 15px;
  font-size:14px;
  font-weight:bold;
  width:350px;
  margin: auto;
}

#logindiv .form label {
  font-family: sans-serif;
}

#logindiv .form h3 {
  font-family: sans-serif;
}


#logindiv input[type=button]{
    background-color:#123456;
    border:1px solid white;
    font-family: sans-serif;
    font-size:18px;
    color:white;
    width:49%;
}

#logindiv input{
    width:20%;
    height:35px;
    margin-top:5px;
    border:1px solid #999;
    border-radius:3px;
    padding:5px;
}



#buttons{
  list-style: none;
  position: absolute;
  top: 40%;
  left: 34%;
  padding: 0;
}

#buttons li{
  display: inline-block;
}

#buttons li button, .goBack{
    width: 200px;
    height:45px;
    margin-top:5px;
    border:1px solid #999;
    border-radius:3px;
    padding:5px;
}

.goBack{
  margin-bottom: 10px;
}

footer{
  position: absolute;
  bottom: 0;
}

footer p{
  background-color: #2d97af;
  text-align: center;
  font-size: 11px;
  color: white;
  margin: 0;
  padding: 2px 0;
}